.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 14s linear;
  }
}

body {
  background-color: #1f072c;
  color:white;
}

.PortfolioProject{
  align-items:center;
  align-self: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.App-header {
  background-color: #340152;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #340152;
  color: white;
  padding: 16px;
  text-align: justify;
}

.App-link {
  color: #1976d2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
