.App {
  text-align: center;
  /* background-image: url("images/blue-lights-matrix-background-vector.png"); */
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 14s linear;
  }
}

.Plain-text {
  max-width: 480px;
}


body {
  background-color: #1f072c;
  color:white;
  align-items: center;
  align-content: center;
}

.PortfolioProject{
  align-items:center;
  align-self: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.Section-projects{
  margin-top: 128px;
}

.Section-skills {
  background-color: #34015270;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Section-about {
  background-color: #340152;
  color: white;
  padding: 16px;
  align-items: center;
  justify-items: center;
  margin-top: 128px;
}

.Section-about-text {
  text-align: justify;
  max-width: 600px;
  margin: 0 auto;
}

.App-link {
  color: #1976d2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
